R_API_URL=http://api_r:8581/predict
SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
#DATABASE_URL=postgresql://stamm:changeme@localhost:5432/stamm
# --- to composer
DATABASE_URL=postgresql://stamm:changeme@postgres:5432/stamm
