API_BASE_URL = "http://model-registry-api:8080/"  # endpoint API FastAPI docker-compose.yml
#API_BASE_URL = "http://127.0.0.1:8080/"  # endpoint API FastAPI local development
MODEL2SEEK_API_TOKEN = "your token  here"
MODEL2SEEK_BASE_URL = "https://ibisbahub.eu"